# Dependencies
node_modules/

# Environment variables (Very Important!)
.env

# Firebase/Google Credentials
src/config/crisis-simulator-ecc1b-firebase-*.json

# Windows system files
desktop.ini

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*